@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/woff/gothampro.woff') format('woff'),
       url('../fonts/GothamPro/ttf/gothampro.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GothamPro-light';
  src: url('../fonts/GothamPro/woff/gothampro_light.woff') format('woff'),
       url('../fonts/GothamPro/ttf/gothampro_light.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../fonts/GothamPro/woff/gothampro_medium.woff') format('woff'),
       url('../fonts/GothamPro/ttf/gothampro_medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GothamPro-bold';
  src: url('../fonts/GothamPro/woff/gothampro_bold.woff') format('woff'),
       url('../fonts/GothamPro/ttf/gothampro_bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

